<nav class="ui stackable menu">
  
  <header class="ui header item"> 
  
    <a href="/"> Fish App </a>
  </header>
  
  <div class="right menu">
    <!--     Add links to your pages here -->
        <a id="home" class="item" href="/">Home</a>
        <a id="dashboard" class="item" href="/dashboard">Dashboard</a>
         <a id="stats" class="item" href="/stats">Statistics</a>
          <a id="about" class="item" href="/about">About</a>
    
  </div>
  
</nav>






<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>

