{{> menu}}

<section class="ui center aligned middle aligned segment">


<div class="aquarium">

  <h2>About Fish Tank App</h2>
  <div class="ui divider"></div>
  
  <div class="ui stackable grid">
    <div class="eight wide column">
      <h3 class="ui header">Why Fish Tank App?</h3>
      <p>This app will help me to replace manual tracking to digital recording.</p>
      <p>Enviroment friendly</p>
      <p>Organised tables for each category</p>
    
         <h3 class="ui header">Can Record:</h3>
      <div class="ui list">
        <div class="item">&#128312; Population of the Tank</div>
        <div class="item">&#128312;Water parameters</div>
<div class="item">&#128312; Water change record</div>
<div class="item">&#128312;Treatment record</div>
      </div>


 <h3 class="ui header">Statistics</h3>



     <p>Number of Tanks: {{statistics.length}}</p>
     




   
    </div>
    
    <div class="eight wide column">
      <img src="/cat-fish02.png" class="ui medium circular image" style="margin: 0 auto;">
      <p><dt>Underwater management</dt></p>
    </div>
  </div>
  

    <h3 class="ui header">Contact Details</h3>
      <div class="ui list">
        <div class="item"> Krisztina Molnar
            <li>Address: Somewhere very close</li>
            <li>Phone Number:012-345-5678</li>

        </div>


<h3>SETU Google Map</h1>

<div>
  {{!-- google map without api key --}}
  
  {{!-- https://dev.to/hardiquedasore/how-to-embed-google-map-without-api-key-1ii7 --}}
  <iframe src=

"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.8086338314333!2d-7.142301123602745!3d52.2468594719908!2m3!1f0!2f0!3f0!3m2
!1i1024!2i768!4f13.1!3m3!1m2!1s0x4842c41310dd4131%3A0x4042f0dcf13f7cfe!2sSouth%20East%20Technological%20University%20%7C%20Waterford%20
(SETU)!5e0!3m2!1shu!2sie!4v1772983252443!5m2!1shu!2sie" 

                    
                    width="400"
                    height="300"
                    frameborder="0"
                    style="border:0;"
                    allowfullscreen=""
                    aria-hidden="false"
                    tabindex="0">
            </iframe></div>





  
  <div class="ui three statistics">
    <div class="statistic">
      <div class="value  ">❤️</div>
      <div class="label" style="color: yellow !important;">Lifespan</div>
    </div>
    <div class="statistic">
      <div class="value">🤓</div>
      <div class="label" style="color: yellow !important;">Happy fish</div>
    </div>
    <div class="statistic">
      <div class="value">💧</div>
      <div class="label" style="color: yellow !important;">Water Parameters</div>
    </div>
  </div>

</div>

 <div class="circle bubble-1"></div>
  <div class="circle bubble-2"></div>
  <div class="circle bubble-3"></div>
  <div class="circle bubble-4"></div>
  <div class="circle bubble-5"></div>
  <div class="circle bubble-6"></div>
  <div class="circle bubble-7"></div>
  <div class="circle bubble-8"></div>



</section>




{{> footer}}