{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2>About Fish App</h2>
  <div class="ui divider"></div>
  
  <div class="ui stackable grid">
    <div class="eight wide column">
      <h3 class="ui header">Why Fish App?</h3>
      <p>You can track feeding , fish, cleaning time</p>
      
      <h3 class="ui header">Features</h3>
      <div class="ui list">
        <div class="item">🐠 Fish tracking</div>
        
      
      </div>
    </div>
    
    <div class="eight wide column">
      <img src="/catFish.png" class="ui medium circular image" style="margin: 0 auto;">
      <p><em>Underwater</em></p>
    </div>
  </div>
  
  <div class="ui divider"></div>
  
  <div class="ui three statistics">
    <div class="statistic">
      <div class="value">❤️</div>
      <div class="label">Lifespan</div>
    </div>
    <div class="statistic">
      <div class="value">🐟</div>
      <div class="label">Happy Fish</div>
    </div>
    <div class="statistic">
      <div class="value">🌊</div>
      <div class="label">Water Parameter</div>
    </div>
  </div>
</section>

