{{> menu id="dashboard"}}

<section class="ui left aligned middle aligned segment">
  

<div class="aquarium">

  <h2>Keep up to date about what is in your Fish tank</h2>
  
  {{#unless fishtank}}
   <h3 class="ui  orange message">
      
        <i class="fish icon"></i> 
     
      Start adding your fishtank! COMING SOON

    </h3>
  {{/unless}}

  {{#each fish}}
    <section class="ui left aligned middle aligned segment">

      <h3 class="ui header">
        
        {{title}}
      </h3>
      {{#if fish}}
        <p>Total Fish: {{fish.length}}</p>
      {{else}}
        <p>Empty fishtank</p>
      {{/if}}
      
                <a href="/fishtank/{{id}}" class="ui teal button">
                <i class="fish icon"></i> View Tank
</a>

    </section>
  {{/each}}

  </div>


  <div class="circle bubble-1"></div>
  <div class="circle bubble-2"></div>
  <div class="circle bubble-3"></div>
  <div class="circle bubble-4"></div>
  <div class="circle bubble-5"></div>
  <div class="circle bubble-6"></div>
  <div class="circle bubble-7"></div>
  <div class="circle bubble-8"></div>


</section>


{{> footer}}
