
{{> menu}}



<section class="ui center aligned middle aligned scrolling segment" style="height: auto; max-height: 500px; overflow-y: auto;">

  <h2 class="ui header">
    {{singlefish.title}}
  </h2>
  
  {{> listfish}}


   <a href="/dashboard" class="ui teal button">
  <i class="arrow left icon"></i> Back to Dashboard
    </a>
  
</section>
