
{{> menu}}

{{#with singleFishtank}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{name}}
  </h2>

  {{> addfish}}
  {{> listfish}}

</section>

<section class="ui center aligned middle aligned segment">
  {{> addcleaning}}
  {{> listcleaning}}

  <div class="ui center aligned segment">
  <a href="/dashboard" class="ui teal button">
    <i class="arrow left icon"></i> Back to Dashboard
  </a>
  </div>


</section>

{{/with}}



{{> footer}}