html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightgrey;
}



.custom-footer {
  background-color: rgb(23, 1, 120);
  color: white;
  margin-top: 2rem;
}

.custom-footer .ui.container {
  padding: 1rem 0;
  text-align: center;
}

.custom-footer p {
  margin: 0;
}